/* SEZIONE HEAD */
.logosoultime{
    width: 200px;
    margin-left: -7px;
    margin-top: -7px;
    border-radius: 20px;
}
/* FINE SEZIONE HEAD */
/* SEZIONE NAVBAR */
.navbar{
    text-align: center;
    color: rgb(255, 0, 0);
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
/* FINE SEZIONE NAVBAR */

/* SEZIONE HEADER */
.header{
    background-color: rgb(255, 0, 38);
    text-align: center;
    font-size: 30px;
    
    

}
/* FINE SEZIONE HEADER */

/* BODY */
.sfondostaff{
    background-image: url(./media/staff.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    
}
/* FINE SEZIONE BODY */

/* SEZIONE SERVIZI */
.contenitori{
    display: flex;
    justify-content:space-between;
    margin-top: 250px;
    
    
    
   
    
}

h3{
    font-size: large;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-align: center;    
}
.trattamenti{
    font-size: 18px;
    text-align: center;
    font-family:monospace;
    margin-left: 25px;
    margin-top: 80px;
    color: rgb(0, 0, 255);
}
/* sezione massaggi */
.corpo{
    background-image: url(./media/sfondo\ body.jpg);
    width: 300px;
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    
}

/* fine sezione massaggi */

/*sezione corpo  */
   
.body{
    background-image: url(./media/massaggi.jpg);
    width: 300px;
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    
}

/* fine sezione corpo */



/* sezione viso */
.viso{
    background-image: url(./media/trattamenti\ viso.jpg);
    width: 300px;
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

/* fine sezione viso */



/* sezione piedi */
.piedi{
    background-image: url(./media/riflessologia\ e\ pedicure.jpg);
    width: 300px;
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

/* fine sezione piedi */

/* FINE SEZIONE SERVIZI */

/* SEZIONE FORM */
.info{
    color: aqua;
    margin-top: 60px;
    background-color: blueviolet;
    border-radius: 20px;
    margin-bottom: 100px;
    width: 230px;
    
}
.campo{
    padding: 20px 20px 20px 20px;
}


.contattaci{
    
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: aqua;
    background-image: url(./media/sfondo\ melograno.jpg);
    background-size: cover;
    margin-bottom: -30px;
    margin-top: 400px;
    margin-left: -10px;
    margin-right: -40px;
    

    
}

.button{
    font-size: large;
    width: 80px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    background-color: pink;
    
   }


/* FINE SEZIONE FORM */
 

